---
title: "Westervik Revision AB"

layout: page

permalink: /

header:
    overlay_image: /assets/images/header2.webp
    overlay_filter: rgba(0, 0, 0, 0.6)

    actions:
        - label: "Om oss"
          url: /#om-oss
          blank: true
        - label: "Kontakt"
          url: /#kontakt
          blank: true



excerpt: "**Revision med personligt engagemang**"

round-images:
    - image-path: "/werev.github.io/assets/images/Johan_rec.webp"
      size: "full"
      header: "Johan Nilsson"
      caption: "Auktoriserad Revisor <br > 073 397 16 33 <br> johan.nilsson@werev.se"
    - image-path: "/werev.github.io/assets/images/sofia_rec.webp"
      size: "third"
      header: "Sofia Barath"
      caption: "Auktoriserad Revisor <br > 070 080 36 66 <br> sofia.barath@werev.se"
    - image-path: "/werev.github.io/assets/images/adisa_rec.webp"
      size: "third"
      header: "Adisa Hadzic"
      caption: "Auktoriserad Revisor <br > 070 080 36 67 <br> adisa.hadzic@werev.se"
    - image-path: "/werev.github.io/assets/images/angelica_rec.webp"
      size: "third"
      header: "Angelica Rydell"
      caption: "Auktoriserad Revisor <br > 070 080 36 68 <br> angelica.rydell@werev.se"
    - image-path: "/werev.github.io/assets/images/anton_rec.webp"
      size: "third"
      header: "Anton Bengtsson"
      caption: "Auktoriserad Revisor <br > 070 080 36 17 <br> anton.bengtsson@werev.se"
    - image-path: "/werev.github.io/assets/images/moa_rec.webp"
      size: "third"
      header: "Moa Johansson"
      caption: "Revisor <br > 070 080 36 59 <br> moa.johansson@werev.se"
    - image-path: "/werev.github.io/assets/images/elin_rec.webp"
      size: "third"
      header: "Elin Andersson"
      caption: "Revisor <br > 070 080 36 63 <br> elin.andersson@werev.se"



---

<section class="site-section first-section" id="om-oss">

        <h1>Välkommen till Westervik Revision AB</h1>
    
        <h2>Din partner för en pålitlig och personlig service</h2>
  <p> Vi på Westervik Revision är ett revisionsbolag som erbjuder kvalificerade revisionstjänster och ekonomisk rådgivning till företag och organisationer. </p>
<p>Vi har vår bas i Västervik men arbetar med företag i hela Sverige. Sommaren 2024 övertog vi Deloittes befintliga revisionsverksamhet i Västervik vilken vi nu driver vidare i egen regi. Våra medarbetare, samtliga med en bakgrund inom Deloitte, har stor erfarenhet av arbete med allt ifrån mindre ägarledda bolag till stora internationella koncerner. </p>
Med fokus på att leverera högkvalitativa tjänster och skapa långsiktiga kundrelationer arbetar vi med att hjälpa våra kunder navigera i ett ständigt föränderligt affärslandskap. Vi tillhandahåller en rad tjänster inom revision och ekonomisk rådgivning:
<ul>
<li>Revision: Oberoende granskning av finansiella rapporter för att säkerställa att de uppfyller gällande regelverk och standarder. Genom ett riskbaserat angreppssätt och analyser av interna processer och rutiner skapar vi en effektiv och värdeskapande revision. Revisionen utmynnar i en revisionsberättelse, vilken är en kvalitetsstämpel och utgör ett beslutsunderlag för olika intressenter.  </li>
<li>Skatterådgivning: Hjälp med att tolka och tillämpa skattelagstiftning samt optimera skattesituationen för företag och privatpersoner.</li>
<li>Rådgivning och Konsulttjänster: Affärsrådgivning, bolagsstyrning och ekonomisk planering för att stödja företag i tillväxt och utveckling.</li>
</ul>
<h2>Vår Vision och Värderingar</h2>
<p>Vår vision är att vara en pålitlig och kompetent partner för våra kunder samt bidra till att skapa värde genom högkvalitativa tjänster och expertkunskap. Vår verksamhet bygger på principerna om integritet, kvalitet och ansvarstagande. Vi är engagerade i att ständigt förbättra våra metoder och processer för att säkerställa bästa möjliga service.</p>
 <h2>Kundfokus</h2>
<p>Vår kundbas består främst av små och medelstora företag från olika branscher samt offentliga organisationer. Vi arbetar idag med kunder från hela Sverige och erbjuder kundanpassade lösningar, både inom revision och rådgivning. Vi fokuserar på att bygga en långsiktig relation med er som kund genom personligt engagemang, närvaro och förståelse för verksamheten och ert bolags specifika behov.</p>
 <h2>Kvalitet och Professionalism</h2>   
 <p>Vi arbetar enligt internationella standarder för kvalitet och följer de etiska riktlinjer som gäller för revisionsbranschen. Vi strävar efter att hålla högsta nivå på såväl teknisk kompetens som kundservice, med ett starkt fokus på kontinuerlig utbildning och utveckling för våra medarbetare.</p>
</section>
<section class="site-section first-section" id="bild2">

<img src="/werev.github.io/assets/images/header.webp" class="site-logo">
</section>


        <section class="site-section first-section" id="kontakt">

    <h1> Kontakta oss</h1>

    {% include round-images %}

    {% include image-text-row %}

    {% include image-text-row id="image-text-row-two" %}
    {% include image-text-row id="image-text-row-three" %}
    {% include image-text-row id="image-text-row-four" %}
    {% include image-text-row id="image-text-row-five" %}
    {% include image-text-row id="image-text-row-six" %}
    {% include image-text-row id="image-text-row-seven" %}
</section>


<section class="site-section first-section" id="om-oss"><p></p></section>


<section class="site-section" id="hittahit">
    <div class="box-container">

        <div class="box box--primary box-half">
            <h4>Öppettider</h4>
            <p>Må-Fre kl 08.30 - 16. 00</p>
            <p>Lunchstängt kl 12-13</p>
            <p>Hamngatan 33<br>
              593 33 Västervik</p>
        </div>

        <div class="box box--primary box-half">
            <h4>Hitta till oss</h4>
            <p> <img src="/werev.github.io/assets/images/entre.jpg" class="itr-image"></p>

        </div>

</section>






<section class="site-section" id="section-5">

    
    <div class="notice--primary">
        <h3>Behandling av personuppgifter</h3>
        <ul>
        <li >
          <a href="/werev.github.io/assets/images/Behandling av personuppgifter revisionsuppdrag.pdf" rel="noopener noreferrer nofollow" target="_blank" title="Behandling av personuppgifter revisionsuppdrag">
            <i>Behandling av personuppgifter revisionsuppdrag</i>
          </a>
        </li>
        <li>
          <a href="/werev.github.io/assets/images/Behandling av personuppgifter uppdrag.pdf" rel="noopener noreferrer nofollow" target="_blank" title="Behandling av personuppgifter uppdrag">
            <i>Behandling av personuppgifter uppdrag</i>
          </a>
        </li>
      </ul>
    </div>


</section>


