---
title: "Westervik Revision AB"

layout: page

permalink: /

header:
    overlay_image: /assets/images/header.webp
    overlay_filter: rgba(0, 0, 0, 0.6)

    actions:
        - label: "Om oss"
          url: /#om-oss
          blank: true
        - label: "Kontakt"
          url: /#kontakt
          blank: true



excerpt: "**Lokal revision med personligt engagemang**"

round-images:
    - image-path: /assets/images/johan_rec.webp
      size: "full"
      header: "Johan Nilsson"
      caption: "Auktoriserad Revisor <br > 073 397 16 33 <br> johan.nilsson@werev.se"
    - image-path: "/assets/images/sofia_rec.webp"
      size: "third"
      header: "Sofia Barath<br> 070 080 36 66 "
      caption: "Auktoriserad Revisor"
    - image-path: "/assets/images/adisa_rec.webp"
      size: "third"
      header: "Adisa Hadzic"
      caption: "Auktoriserad Revisor<br> 070 080 36 67 "
    - image-path: "/assets/images/angelica_rec.webp"
      size: "third"
      header: "Angelica Rydell"
      caption: "Auktoriserad Revisor <br> 070 080 36 68 "
    - image-path: "/assets/images/anton_rec.webp"
      size: "third"
      header: "Anton Bengtsson"
      caption: "Revisor <br> 070 080 36 17 "
    - image-path: "/assets/images/moa_rec.webp"
      size: "third"
      header: "Moa Johansson"
      caption: "Revisor <br> 070 080 36 59 "
    - image-path: "/assets/images/elin_rec.webp"
      size: "third"
      header: "Elin Andersson"
      caption: "Revisor <br> 070 080 36 63 "     



---

<section class="site-section first-section" id="om-oss">

        <h1>Välkommen till Westervik Revision AB</h1>
    
        <h2>Din lokala partner för pålitlig och personlig revision</h2>
        Hos oss möter du engagerade revisorer med djupgående kunskap och ett genuint intresse för att förstå just dina behov. Med vårt fokus på personlig service och nära samarbeten ser vi till att dina siffror alltid är i trygga händer. Oavsett om du driver ett mindre företag eller en större verksamhet, kan du lita på att vi levererar noggrannhet, kvalitet och lösningar anpassade för dig. Vi finns här för att guida dig genom revisionens alla steg och hjälpa dig att fatta smarta beslut för framtiden.
        Välkommen att kontakta oss. Vi ser fram emot att vara din pålitliga rådgivare på hemmaplan.
       
    </section>

        <section class="site-section first-section" id="kontakt">

    <h1> Kontakta oss</h1>

    {% include round-images %}

    {% include image-text-row %}

    {% include image-text-row id="image-text-row-two" %}
    {% include image-text-row id="image-text-row-three" %}
    {% include image-text-row id="image-text-row-four" %}
    {% include image-text-row id="image-text-row-five" %}
    {% include image-text-row id="image-text-row-six" %}
    {% include image-text-row id="image-text-row-seven" %}
</section>


<section class="site-section first-section" id="om-oss"><p></p></section>




<section class="site-section" id="hittahit">
    <div class="box-container">

        <div class="box box--primary box-half">
            <h4>Öppettider</h4>
            <p>Må-Fre kl08 - 17.00</p>
            <p>Tidsbokning</p>
        </div>

        <div class="box box--primary box-half">
            <h4>Hitta till oss</h4>
            <p> <img src="/assets/images/Karta.png" class="itr-image"></p>

        </div>

</section>






<section class="site-section" id="section-5">

    
    <div class="notice--primary">
        <h4>Öppettider</h4>
        <p>Må-Fre kl08 - 17.00</p>
        <p>Hamngatan 33<br>
            593 33 Västervik
        </p>
    </div>


</section>


